<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav nav-tabs">
      <li <% if ((request.path_parameters[:controller] == "clearance_queues") && (request.path_parameters[:action] == "new")) %>
            class="active" 
          <% end %> >
        <%= link_to "Scan", new_clearance_queue_path %>
      </li>
      <li <% if ((request.path_parameters[:controller] == "clearance_queues") && (request.path_parameters[:action] == "index")) %>
            class="active" 
          <% end %> >
        <%= link_to "Scanned Items", clearance_queues_path %>
      </li>
      <li <% if ((request.path_parameters[:controller] == "clearance_batches") && (request.path_parameters[:action] == "index")) %>
            class="active" 
          <% end %> >
        <%= link_to "Batch Summary", clearance_batches_path %>
      </li>
      <li <% if ((request.path_parameters[:controller] == "items") && (request.path_parameters[:action] == "index")) %>
            class="active" 
          <% end %> >
        <%= link_to "Inventory by Status", items_path %>
      </li>
    </ul>
  </div>
</nav>
